@model List<FI.WebAtividadeEntrevista.Models.BeneficiarioModel>

@Html.Partial("~/Views/Beneficiario/Forms.cshtml")
 @*@Scripts.Render("~/bundles/ListBeneficiarios")*@
<table class="table">
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |                   
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>
