@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            var beneficiarios = @Html.Raw(Json.Encode(Model.Beneficiarios));
            ModalDialogBeneficiarios(beneficiarios, false);
        });
    </script>

    @Scripts.Render("~/bundles/altClientes")
    @Scripts.Render("~/bundles/util")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")
